In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
web=requests.get("https://www.dineout.co.in/delhi-restaurants/buffet-special")

In [3]:
web

In [4]:
soup = BeautifulSoup(web.content, 'html.parser')

In [5]:
restaurant_names = soup.find_all('a', class_='restnt-name ellipsis')

In [6]:
cuisines = soup.find_all('span', class_='double-line-ellipsis')

In [7]:
locations = soup.find_all('div', class_='restnt-loc ellipsis')

In [8]:
ratings = soup.find_all('div', class_='restnt-rating rating-4')

In [9]:
image_urls = soup.find_all('img', class_='no-img')

In [10]:
restaurant_list = []
cuisine_list = []
location_list = []
rating_list = []
image_url_list = []

In [11]:
for name in restaurant_names:
    
    restaurant_list.append(name.text.strip())

In [12]:
for cuisine in cuisines:
    cuisine_list.append(cuisine.text.strip())

In [13]:
for location in locations:
    location_list.append(location.text.strip())

In [14]:
for rating in ratings:
    rating_list.append(rating.text.strip())

In [15]:
for image in image_urls:
    image_url_list.append(image['src'])

In [16]:
data = {
  'Restaurant Name': restaurant_list,
  'Cuisine': cuisine_list,
  'Location': location_list,
  'Ratings': rating_list
  
}

In [17]:
df = pd.DataFrame(data)

In [18]:
df

,Restaurant Name,Cuisine,Location,Ratings
0,Castle Barbeque,"₹ 2,000 for 2 (approx) | Chinese, North Indian","Connaught Place, Central Delhi",4
1,Cafe Knosh,"₹ 3,000 for 2 (approx) | Italian, Continental","The Leela Ambience Convention Hotel,Shahdara, ...",4.3
2,India Grill,"₹ 2,400 for 2 (approx) | North Indian, Italian","Hilton Garden Inn,Saket, South Delhi",3.9
3,The Barbeque Company,"₹ 1,700 for 2 (approx) | North Indian, Chinese","Gardens Galleria,Sector 38A, Noida",3.9
4,Delhi Barbeque,"₹ 1,800 for 2 (approx) | North Indian","Taurus Sarovar Portico,Mahipalpur, South Delhi",3.7
5,The Monarch - Bar Be Que Village,"₹ 1,900 for 2 (approx) | North Indian","Indirapuram Habitat Centre,Indirapuram, Ghaziabad",3.8
6,The Barbeque Times,"₹ 1,500 for 2 (approx) | North Indian, Contine...","M2K Corporate Park,Sector 51, Gurgaon",4.1

In [19]:
image_url_list

[]